/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2018, 3:14:30 PM
    Author     : aled
*/
.list-view { -fx-background-color: transparent; }
.list-cell { -fx-background-color: transparent; 
             
             -fx-font-weight: bold }
.list-cell:filled:selected:focused { -fx-text-fill: blue }


#activeItemsTable {
    -fx-background-color: transparent;
}

#tableLabel {
   -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#clock {
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}

#seconds {
    -fx-font-size: 20px;
}

.root {
    -fx-background-image: url("todo_background.jpg");
    -fx-background-repeat: stretch;
    -fx-opacity: 0.9;
    -fx-background-position: center center;
    -fx-background-size: cover;
}